
.event_item{
  margin: 18px 0;
  padding:5px;
  cursor: pointer;
}

.ei_Dot,.ei_Title{
  display:inline-block;
}

.ei_Dot{
  border-radius:50%;
  width:10px;
  height: 10px;
  background-color: $color-nav-active;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}


.ei_Copy{
  font-size:12px;
  margin-left:27px;
}

.hr-orange{
  background-color: $color-nav-active;
}

.h1-orange{
  color: $background-color-nav;
}