.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  background-color: $background-color-nav;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;

  & a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    color: $default-color;
    transition: 0.3s;
    font-family: $primary-font;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}


.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: $color-nav-active;
  cursor: pointer;
}

@media (min-width: 769px) {
  .spacing-top{
    margin-top: 3em;
  }
}

.sidenav-cheptel {
  position:relative;
  top: 7.75px;
  background-color: $background-color-nav;
  text-align:center;

  & a {
    text-decoration: none;
    font-size: 0.75em;
    color: $default-color;
    transition: 0.3s;
    font-family: $primary-font;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  & a:hover {
    font-weight: bold;
  }

  & .active {
    background-color: $color-nav-active;
  }
}
